@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

@media only screen and (max-width: 960px) {

    .mobile_contact {
        color: black;
        font-family: 'Raleway', sans-serif;
        height: 100vh;
        width: 100%;
        margin: 0;
        position: relative;
    }

    .background_mobile_contact {
        width: 100%;
        top: 0;
        left: 0;
        height: 80vh;
        background: url(images/mobile_background_contact.svg) no-repeat center center fixed;
        background-size: cover;
    }

    .contact_header {
        font-weight: x-large;
        width: 100%;
        height: 25vh;
        position: absolute;
        top: 10vh;
        left: 0;
    }

    .contact_header h1 {
        margin: 0;
        font-size: 10vh;
        overflow: hidden;
        text-align: left;
    }

    .contact_header_2 {
        width: 100%;
        height: 20vh;
        position: absolute;
        top: 35vh;
    }

    .contact_header_2 h2 {
        margin: 0;
        font-size: 7vh;
        text-align: right;
        padding-right: 2vw;
        word-wrap: break-word;
    }

    .contact_data {
        width: 100%;
        height: 25vh;
        position: absolute;
        top: 55vh;

    }

    .contact_data p {
        margin: 0;
        padding-left: 2vw;
        padding-bottom: 1.5vh;
        padding-top: 1.5vh;
    }

    .footer_m {
        background: black;
        position: absolute;
        top: 80vh;
        width: 100%;
        height: 20vh;
    }

    .bar_m {
        margin-left: 2vw;
        height: 4px;
        width: 70%;
        display: block;
        background-color: black;
    }
}

@media only screen and (min-width: 961px) {
    #content {
        overflow-y: auto;
        overflow-x: hidden;
        background-color: white;
        color: black;
    }

    #left,
    #right {
        width: 44vw;
    }

    #left {
        height: 90vh;
        float: left;
        padding-left: 5vw;
    }

    #left img {
        display: block;
        margin: auto;
        max-width: 40vw;
        padding-top: 5vh;
    }

    #footer {
        height: 10vh;
        width: 100%;
        background-color: black;
    }

    .content {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
    }



    .cont {
        width: 100%;
        height: 100vh;
    }

    .content>p {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        margin-bottom: 1.5rem;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        align-items: center;
    }

    .content_text {
        padding-top: 3vh;
    }

    .content_head {
        font-family: 'Raleway', sans-serif;
        font-size: xx-large;
    }

    #right {
        height: 60vh;
        float: right;
        padding-left: 5vw;
    }

    #right h1 {
        padding-left: 10vw;
        font-weight: 900;
        font-size: 13vh;
        margin-top: 2vh;
    }

    #right h2 {
        font-weight: 700;
        margin: 0;
        font-size: 3em;
        padding-left: 2vw;
    }

    .contact_bar {
        height: 5px;
        width: 40%;
        display: block;
        border-radius: 5px;

    }
}

.content_head_animation {
    animation: 4s ease-out 0s 1 text_animation forwards;
}

.content_bar_animation {
    animation: 3s ease-out 0s 1 bar_animation forwards;

}

@keyframes bar_animation {
    0% {
        width: 0%;
        background-color: rgb(66, 64, 64);
    }

    100% {
        width: 40%;
        background-color: rgb(66, 64, 64);

    }
}

@keyframes text_animation {
    0% {
        background-color: white;
        color: black;
    }

    100% {
        background-color: black;
        color: white;
    }
}