@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,400&display=swap');

@media only screen and (max-width:960px) {
  .content {
    background: #fff;
    color: #333;
    padding: 20px;
    margin-top: 30px
  }

  .codepen,
  .cp_embed_wrapper {
    margin: 1em
  }

  .mobile_gallery_header_page {
    height: 100vh;
    position: relative
  }

  .mobile_gallery_title {
    font-family: 'Raleway', sans-serif;
    font-weight: x-large;
    top: 12vh;
    height: 10vh;
    width: 100%;
    position: absolute
  }

  .mobile_gallery_title h1 {
    border: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 9vh
  }

  .mobile_gallery_description {
    position: absolute;
    top: 25%;
    height: 30vh;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center
  }

  .mobile_gallery_description p {
    text-align: justify;
    margin: 0
  }

  .mobile_gallery_description_picture {
    position: absolute;
    top: 55%;
    height: 35vh;
    width: 100%;
    text-align: center
  }

  .mobile_gallery_description_picture img {
    height: 100%
  }

  .mobile_gallery_button {
    position: absolute;
    top: 93%;
    height: 5vh;
    width: 8vw;
    margin-left: 46vw;
    margin-right: 46vw
  }

  .mobile_gallery a {
    color: black
  }

  .mobile_project_title h2 {
    color: black;
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200
  }

  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap
  }

  .scrolling-wrapper .gallery_card {
    display: inline-block
  }

  .scrolling-wrapper-flexbox {
    display: -webkit-box;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto
  }

  .scrolling-wrapper-flexbox .gallery_card {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin-right: 20px;
    overflow: hidden
  }

  .no_margin {
    margin-right: 0 !important
  }

  .gallery_card {
    width: 100vw;
    height: 80vh
  }

  .gallery_card_sign {
    padding-top: 0;
    padding-left: 20px;
    height: 12vh
  }

  .gallery_card_sign h1 {
    color: black;
    font-size: 26px;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-top: 0
  }

  .gallery_card_sign h2 {
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 1vh
  }

  .gallery_card_button {
    height: 8vh;
    width: 8vw;
    margin-left: 46vw;
    margin-right: 46vw
  }

  .gallery_card_img {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80vh;
  }

  .scrolling-wrapper,
  .scrolling-wrapper-flexbox {
    margin-bottom: 5px;
    width: 100%;
    -webkit-overflow-scrolling: touch
  }

  .scrolling-wrapper::-webkit-scrollbar,
  .scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none
  }
}

@media only screen and (min-width:961px) {
  #background_gallery {
    width: 100%;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    font-weight: 400
  }

  #container_gallery a:link {
    color: #fff;
    text-decoration: none
  }

  #container_gallery a:visited {
    color: #fff
  }

  #container_gallery a:hover {
    color: #fff
  }

  #container_gallery a:active {
    color: #fff
  }

  #container_gallery {
    padding-top: 7vh;
    padding-bottom: 5vh;
    height: 88vh;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
  }

  .gallery_title {
    width: 100%;
    top:7%;
    height: 8%;
    position: absolute;
    color: #1c1c1c
  }

  .gallery_title h1 {
    text-align: center;
    color: #424040;
    letter-spacing: 8px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-top:1%;
  }

  .photo_one {
    top: 16%;
    width: 33%;
    height: 40%;
    overflow: hidden;
    position: absolute;
  }

  .photo_one_img {
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
    background-image: url("images_gallery/butterkato/butterkato_thu_vsco.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .photo_one_img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
  }

  .photo_two {
    top: 16%;
    left: 34%;
    width: 35%;
    height: 40%;
    overflow: hidden;
    position: absolute;
  }

  .photo_two_img {
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
    background-image: url("images_gallery/amk/amk_thu_vsco.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .photo_two_img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
  }

  .photo_three {
    top: 57%;
    width: 27%;
    height: 40%;
    position: absolute;
    overflow: hidden;
  }

  .photo_three_img {
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
    background-image: url("images_gallery/omh/omh_thu_vsco.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .photo_three_img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
  }

  .photo_four {
    top: 57%;
    left: 28%;
    width: 41%;
    height: 40%;
    position: absolute;
    overflow: hidden;
  }

  .photo_four_img {
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
    background-image: url("images_gallery/ibs/ibs_thu_vsco.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .photo_four_img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
  }

  .photo_five {
    top: 16%;
    left:70%;
    height: 81%;
    width: 30%;
    position: absolute;
    overflow: hidden;
  }

  .photo_five_img {
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
    background-image: url("images_gallery/bms/bms_thu_vsco.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .photo_five_img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
  }

  .overlay {
    position: relative;
    width: 100%;
    height: 100%
  }

  .overlay .link {
    position: absolute;
    display: block;
    width: 100%;
    height: 50px;
    background-color: #111;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .5s ease-in-out
  }

  .overlay .link p {
    line-height: 5px
  }

  .overlay:hover .link {
    opacity: .8
  }
}