@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);


#content {
    background: radial-gradient(rgba(255, 255, 255, 0.9), rgb(191, 191, 191));
}

#content,
#content2 {
    overflow: auto;
}

#left,
#right {
    width: 40%;
    padding-top: 10vh;
}

#left {
    float: left;
    padding-left: 10vh;
}

#right {
    float: right;
    padding-right: 10vh;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #bdbdbd;
    font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: #bdbdbd;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #bdbdbd;
    font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: #bdbdbd;
}

input::placeholder,
textarea::placeholder {
    color: #bdbdbd;
    font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
    color: #bdbdbd;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
    color: #bdbdbd;
    font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
    color: #bdbdbd;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
    color: #bdbdbd;
    font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
    color: #bdbdbd;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
    color: #bdbdbd;
    font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
    color: #bdbdbd;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #bdbdbd;
    font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
    color: #bdbdbd;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #bdbdbd;
    font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
    color: #bdbdbd;
}

body {
    font-family: 'Lato',
        sans-serif;
    color: #1c1c1c;
}

header {
    position: relative;
    margin: 100px 0 25px 0;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 7px;
}

#form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
}

input {
    font-family: 'Lato',
        sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;

    background: transparent;
    outline: none;
    color: #1c1c1c;

    border: solid 1px #1c1c1c;
    border-bottom: none;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

input:hover {
    background: #1c1c1c;
    color: #e4e4e4;
}

textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;

    background: transparent;
    outline: none;

    color: #1c1c1c;
    font-family: 'Lato',
        sans-serif;
    font-size: 0.875em;

    border: solid 1px #1c1c1c;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
    background: #1c1c1c;
    color: #e4e4e4;
}

#submit {
    width: 502px;

    padding: 0;
    margin: -5px 0px 0px 0px;

    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #1c1c1c;

    outline: none;
    cursor: pointer;

    border: solid 1px #1c1c1c;
}

#submit:hover {
    background: #1c1c1c;
    color: #e4e4e4;
}

/*ZACZYNA SIE WIZYTOWKA!!!!!!!!!!!!!!!! */

.content2 {
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    -webkit-perspective: 150rem;
    perspective: 150rem;
    height: 20rem;
    width: 30rem;
    position: relative;
}

.card__side {
    height: 15rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    width: 30rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

.card__side--front {
    background-color: #1c1c1c;
}

.card__side--back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: #1c1c1c;
}

.card:hover .card__side--front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card:hover .card__side--back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.card__cont {
    padding-top: 30px;
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    height: auto;
}

.card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    color: white;
}

.card__cta p {
    margin-left: 1rem;
}

.card__cta p>.space {
    margin-left: 2rem;
}